/* * {
  border: 1px solid gray;
  margin: 0;
  padding: 0;
} */

h1 {
  margin: 0 auto;
  padding: 1rem;
}

header {
  text-align: center;
  background: url("./pictures/mauiBeachMiddle.jpg"); /*top background*/
  background-size: cover;
  color: white;
  font-family: verdana;

}

img {
  margin: 0px 0px 20px 0px;
  border: .4rem solid black;
  border-radius: 20px;
  width: 15vw;
  padding: .1rem;
  background-color: white;
}

nav {
  background: rgba(0,0,0,0.5);
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding: .5rem;
}

.bitingRentHeaderLink {
  color: white;
  text-decoration: none;
}
.bitingRentHeader {
  font-size: 5rem;
  color: white;
  text-decoration: none;
  margin: 0 auto;
  padding: 1rem;
}
.indexProjects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 10vw;
}
.indexSingleProject {
  display: flex;
  width: 80vw;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}
.indexProjectContents {
  display: flex;
  width: 65vw;
  justify-content: space-between;
}
.indexProjectTitle {
  font-size: 1.5rem;
  margin-top: 0;
  /* align-self: baseline; */
}
.indexProjectImg {
  width: 30vw;
}
.indexProjectText {
  display: flex;
  height: 20vh;
  flex-direction: column;
  justify-content: space-between;
}
.indexProjectLinks {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.indexPlants {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.indexSinglePlant {
  background-color: black;
  width: 20rem;
  margin: .5rem;
  padding: .5rem;
  text-align: center;
}
.indexPlantImg {
  width: 80%;
}
.showPlantImg {
  width: 40%;
  margin: 0;
}
/* .songs-header {
  text-align: left;

  margin: 0;
  padding: 2rem 10rem;
} */

.indexSongs {
  background-color: black;
  text-align: left;
  margin: 0;
  padding: 0 3rem;
}
.indexSingleSong {
  padding: 1rem 0;
}
.indexSongTitle {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.indexSongTitle:hover {
  text-decoration: underline;
}
.indexSongFirstLine {
  margin: 0;
}
.indexSongLyrics {
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
  /* transition: height .3s; */
} 
/* .indexShowLyrics {
  border: 1px solid white;
} */
.indexShowLyrics + .indexSongLyrics {
  opacity: 1;
  height: 100%;
  font-size: 1rem;
}
.indexShowLyrics + .indexSongLyrics + .indexSongFirstLine {
  opacity: 0;
  height: 0;
}


.bitingRentFooter {
  background-color: black;
  text-align: left;
  margin: 10rem 0 0 1rem;
  font-size: .7rem;
  position: fixed;
  bottom: .5rem;
  right: 1rem;
}

.App {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: black;
  color: white;
  min-height: 100vh;
}

.App-link {
  color: white;
  text-decoration: none;
}
.App-link:hover {
  text-decoration: underline;  
}





/* @media (max-width: 500px) {
  h1 {
    font-size: 36px;
    padding: 5px;
  }
  li {
    padding: 5px;
    display: block;
  }
} */





/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #2b5966;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
